.landing {
	padding-top: 25vh;
	background-image: linear-gradient(
			to bottom right,
			rgb(0, 0, 0, 0.9),
			rgb(0, 0, 0, 0.1)
		),
		url(../../landing.jpg);
	height: 90vh;
	background-position-x: 0;
	background-position-y: 0%;
	background-size: cover;
}

.btn {
	color: white;
	background-color: red;
}
